<div class="auth-wrapper d-flex no-block justify-content-center align-items-center ">
  <div class="auth-box">

          <div class="logo ">
              <span class="db"><img class = "logo logotexto" src="assets/images/logo-text.png" alt="logo" /></span>
              <br>
              <br>
              <br>
              <span class="db"><img class = "logo logotexto1" src="assets/images/gallery/sendemail.png" alt="Envio Correo" /></span>
              <br>
              <br>

              <h5 class="font-medium m-b-20">Se enviara un correo con una liga para poder hacer efectivo el cambio de contraseña</h5>

          <br>
              <div class="altauser row">

                <div class="col-12">
                    <form [formGroup]="reenviotokenForm" (ngSubmit)="Onreenviartoken()">
                        <div class="form-group">
                            <label class= "justify-content-left align-items-left" >Ingrese correo electronico:</label>
                            <input class="form-control form-control-sm" formControlName="email" type="email" name="email" [(ngModel)]="model.email" placeholder="Correo electronico" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />

                        </div>
                        <div class="form-group col-lg-12 col-12 justify-content-center align-items-center">
                            <button class="btn btn-info btn-sm   waves-effect waves-light">Enviar</button>
                        </div>
                    </form>
                </div>
            </div>
          </div>
          <!-- Form -->
      </div>
</div>
