<div class="auth-wrapper d-flex no-block justify-content-center align-items-center contendor">
  <div class="auth-box">

          <div class="logo ">
              <span class="db"><img class = "logo logotexto" src="assets/images/logo-text.png" alt="logo" /></span>
              <h3 class="font-medium m-b-20">Activacion de cuenta</h3>

          <p></p>

            <a href="/authentication/login" class="text-info m-l-5"><b>Inicar Sesion</b></a>
          </div>
          <!-- Form -->
      </div>
</div>
