<div class="auth-wrapper d-flex no-block justify-content-center align-items-center">

  <div class="auth-box">
      <div class="logo">
          <span class="db"><img class = "logotexto" src="assets/images/logo-text.png" alt="logo" /></span>
          <h5 class="font-medium m-b-20">Cambio de contraseña</h5>
      </div>
      <br>
      <div class="altauser row">
          <div class="col-12">
              <form [formGroup]="forgotpasswordForm" (ngSubmit)="Oncambiopassword()">

                  <div class="form-group">
                      <label>Nueva contraseña:</label>
                      <input class="form-control form-control-sm" type="password" formControlName="password" name="password" [(ngModel)]="model.password" placeholder="Contraseña" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                      <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                          <div *ngIf="f.password.errors.required">Contraseña es requerida</div>
                          <div *ngIf="f.password.errors.minlength">Contraseña debe de tener al menos 6 caracteres</div>
                      </div>
                  </div>
                  <div class="form-group">
                      <label>Confirmar nueva contraseña:</label>
                      <input class="form-control form-control-sm" type="password" required="password" formControlName="confirmPassword" placeholder="Confirmar Contraseña" [ngClass]="{ 'is-invalid': submitted && f.confirmPassword.errors }" />
                      <div *ngIf="submitted && f.confirmPassword.errors" class="invalid-feedback">
                          <div *ngIf="f.confirmPassword.errors.required">Confirmación de la contraseña es requerida</div>
                          <div *ngIf="f.confirmPassword.errors.mustMatch">No coincide con contraseña</div>
                      </div>
                  </div>
                  <div class="col-12 col-xl-12 boton">
                    <button [disabled]="!forgotpasswordForm.valid" class="btn btn-info btn-sm   waves-effect waves-light" type="submit">Cambiar Contraseña</button>
                    <button class="btn btn-info btn-sm   waves-effect waves-light" type="submit">Cancelar</button>
                </div>



              </form>
          </div>
      </div>
  </div>

</div>
