<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body justify-content-center border-light d-lg-flex">

                <div class="card card-hover" style="width: 18rem;">
                    <img src="assets/images/incidente.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Incidentes</h5>
                        <p class="card-text justify-content-around ">En esta seccion se reporta todo error o dudas que se esten presentando en las aplicaciones de nuestra organizacion.</p>
                        <a href="#" class="btn btn-info btn-sm   waves-effect waves-light">Crear Ticket</a>
                    </div>
                </div>

                <div class="card card-hover" style="width: 18rem;">
                    <img src="assets/images/request.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Solicitudes</h5>
                        <p class="card-text">En esta seccion se realizan solicitudes, instalacion de programas, compra de accesorios, equipos, etc.</p>
                        <a href="#" class="btn btn-info btn-sm   waves-effect waves-light">Crear Solicitud</a>
                    </div>
                </div>


            </div>
        </div>
    </div>
