<div class="auth-wrapper d-flex no-block justify-content-center align-items-center ">
  <div class="auth-box">

          <div class="logo ">
              <span class="db"><img class = "logo logotexto" src="assets/images/logo-text.png" alt="logo" /></span>
              <br>
              <br>
              <span class="db"><img class = "logo logotexto1" src="assets/images/gallery/sendemail.png" alt="Envio Correo" /></span>
              <br>
              <br>

              <h5 class="font-medium m-b-20">Se ha enviado un correo a tu cuenta para que confirmes el ingreso,
                 no se podra Iniciar Sesion hasta que la cuenta sea verificada</h5>

          <br>
          <h5 class="font-medium m-b-20">Si no recibes el correo de activacion</h5>
            <a href="/authentication/login" class="text-info m-l-5"><b>Ingresa aqui</b></a>
          </div>
          <!-- Form -->
      </div>
</div>
